<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="./css/bootstrap.min.css">
<link rel="stylesheet" href="./js/bootstrap.min.js">
<link rel="stylesheet" type="text/css" href="/css/main.min.css" />


<body>
  

    <main>
        
        <header>
        <section class="hero-banner2">
            <%- include('../includes/nav2.ejs') %>
                  
        </section>
     </header>

     <section>



         <% if(trainer.length==0){ %>
            <h3>No Trainer yet</h3>
       
           
                    <div class="row mb-3 container">
                        <div class="card">
                            <%= trainers.fname %> <%= trainers.lname %>
                            <br>
                            <%= trainers.email %>
                            <br>
                            <%= trainers.address %>
                            
                        </div>
                    </div>
           
    

      <!-- RESULT TRAINER LIST -->
      <% }else{ %>
        <h3> Trainers </h3>
      <div class="result-body">
        <div class="table-responsive">
            <table class="table widget-26">
                <tbody>
                    <% for (trainers of trainer) { %>
                    <tr>
                        <td>
                            <div class="widget-26-job-emp-img">
                                <img src="/asset/icons/user-gold.png" alt="Company" />
                            </div>
                        </td>
                        <td>
                            <div class="widget-26-job-title">
                                <a href="#"><%= trainers.fname %> <%= trainers.lname %></a>
                                <p class="m-0"><a href="#" class="employer-name">AxiomUI Inc.</a> <span class="text-muted time">4 days ago</span></p>
                            </div>
                        </td>
                        <td>
                            <div class="widget-26-job-info">
                                <p class="type m-0"><%= trainers.email %></p>
                                
                            </div>
                        </td>
                        <td>
                            <div class="widget-26-job-salary"><%= trainers.address %></div>
                        </td>
                        
                        <td>
                            <div class="widget-26-job-starred">
                                <a href="#">
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="24"
                                        height="24"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        stroke="currentColor"
                                        stroke-width="2"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        class="feather feather-star"
                                    >
                                        <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon>
                                    </svg>
                                </a>
                            </div>
                        </td>
                    </tr>
                   
                   
                   
                    <% } %>

                  

                   
                     
                    </tr>
            
                </tbody>
                <% } %>
                
            </table>
        </div>
    </div>
</div>
</div>
</div>

</section>

    </main>





<%- include('../includes/footer.ejs') %>