<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="./css/bootstrap.min.css">
<link rel="stylesheet" href="./js/bootstrap.min.js">
<link rel="stylesheet" type="text/css" href="/css/main.min.css" />


<body>
  

    <main>
        
        <header>
        <section class="hero-banner2">
            <%- include('../includes/nav2.ejs') %>
                  
        </section>
     </header>

     <section>



         <% if(trainer.length==0){ %>
            <h3>No Trainer yet</h3>
        <% }else{ %>
            <h3> Trainers </h3>
            <% for (trainers of trainer) { %>
                    <div class="row mb-3 container">
                        <div class="card">
                            <%= trainers.fname %> <%= trainers.lname %>
                            <br>
                            <%= trainers.email %>
                            <br>
                            <%= trainers.address %>
                            
                        </div>
                    </div>
            <% } %>
        <% } %>
     </section>



    </main>





<%- include('../includes/footer.ejs') %>