<%- include('../includes/head.ejs') %>


<body>
  

    <main>
        <%- include('../includes/clientnav.ejs', {username:user.fname}) %>
   


    <section>
           
            <form action="/user/appointment" method="POST">
                <input type="date" name="appointment">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button class="btn" type="submit">Set Appointment</button>
                <input type="hidden" name="trainerId" value="<%=trainerID%>">
            </form>
            <hr>

           
               
          
            <% if(!appointments.length){ %>
                <h3>No Appointment Made created</h3>
            <% }else{ %>
              
            
                <% for (trainerappointment of appointments) { %>
                    
                        <div class="card">
                          <div class="row">
                            Appointment:<%= trainerappointment.appointment.toDateString() %> with <%= trainerappointment.trainer[0].fname %>
                          </div> 
                    </div>
                    
                <% } %>
            <% } %>

             





    </section>
    </main>




<%- include('../includes/footer.ejs') %>