<%- include('../includes/trainerhead') %>
<link rel="stylesheet" type="text/css" href="/css/trainer.css" />
    
</head>
<body>
    

    <main>
    <section>
        <div class="row">
        <%- include('../includes/clientnav.ejs', {username:user.fname}) %>
           

    
     
        <div  class="col-xl-8 main-dashboard">

            <h2>Set Appointment</h2>
            <hr>
            <form action="/user/appointment" method="POST">
                <input type="date" name="appointment">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button class="btn" type="submit">Set Appointment</button>
                <input type="hidden" name="trainerId" value="<%=trainerID%>">
            </form>
            <hr>

           
               
          
            <% if(!appointments.length){ %>
                <h3>No Appointment Made created</h3>
            <% }else{ %>
              
            
                <% for (trainerappointment of appointments) { %>
                    
                    <div class="row">
                            Appointment:<%= trainerappointment.appointment.toDateString() %> with <%= trainerappointment.trainer[0].fname %>
                     
                        </div>
                <% } %>
            <% } %>

             



        </div>
        </div>
    </section>
    </main>




<%- include('../includes/footer.ejs') %>