<%- include('../includes/head.ejs') %>




    <main>
        


        <section>
 
            <div class="row">

              <%- include('../includes/clientnav.ejs', {username:user.fname}) %>
               <!-- END SIDE BAR -->
              <div class="col-xl-8 main-dashboard">
                
                <h1>welcome back <%= user.fname %> </h1>
                <div class="row">
                  <div class="col-6 col-md-4">
                    <div class="card" style="width: 18rem;">
                      <div class="card-body">
                        <h5 class="card-title">Trainer</h5>
                        <p class="card-text"><% if(!trainername){%>No Trainer Yet<%}else{%> <%=trainername%><%} %></p>
                        <a href="/user/mytrainer" class="btn btn-secondary">view profile</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-6 col-md-4">
                    <div class="card" style="width: 18rem;">
                      <div class="card-body">
                        <h5 class="card-title">Sessions Left</h5>
                        <p class="card-text"><% if(!appcount){%>0<%}else{%> <%=appcount%><%} %></p>
                        <a href="#" class="btn btn-secondary">view</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-6 col-md-4"><div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">Billing</h5>
                      <p class="card-text"><% if(!billing){%>0<%}else{%> <%=billing%><%} %></p>
                      <a href="#" class="btn btn-secondary">manage</a>
                    </div>
                  </div>
                  
                </div>
                <hr>
                </div>
      
      
              </div>
            </div>
             
          
      
              </section>

   
    </main>




<%- include('../includes/footer.ejs') %>