<%- include('../includes/clienthead') %>
<link rel="stylesheet" type="text/css" href="/css/trainer.css" />
    
</head>
<body>

    <main>
        
   


    
    <section>
        <div class="row">
            <%- include('../includes/clientnav.ejs', {username:user.fname}) %>

            <div  class="col-xl-8 main-dashboard">
                <h1>My Sessions</h1>
                <div class="row">
 
     

            <% if(!appointments.length){ %>
                <h3>you have no scheduled sessions</h3>
            <% }else{ %>
              
                <hr>
                <% for (appointments of appointments) { %>
                    
                        <div class="card">
                          <div class="row">
                            Appointment:<%= appointments.appointment.toDateString() %> with <%= appointments.trainer[0].fname %>
                          </div> 
                    </div>
                    
                <% } %>
            <% } %>


             



            
          
    </section>
    </main>




<%- include('../includes/footer.ejs') %>