<%- include('../includes/head.ejs') %>


<body>
  

    <main>
        <%- include('../includes/clientnav.ejs') %>
   


    <section>
 
            <div class="container mb-3">
               <h1>WELCOME to Trainer List </h1>
            </div>

            <ul>


             



            
              <!-- console.log('result is', trainersMarked )  -->


              <% for (trainers of trainer) { %>
                <%= trainers.trainer[0].fname %>
                    <div class="card">
                        <div class="row">
                            <a href="/user/trainings/<%= trainers.trainer[0]._id %>">View Trainings</a>
                             <a href="/user/appointment/<%= trainers.trainer[0]._id %>">Set Appointment</a>
                             <a href="/user/send-note/<%= trainers.trainer[0]._id %>">Send a Note</a>
                        </div>
                    </div>
                    
                    <div class="divider"></div>
            <% } %>

            


    </section>
    </main>




<%- include('../includes/footer.ejs') %>