<%- include('../includes/head.ejs') %>


<body>
  

    <main>
        <%- include('../includes/clientnav.ejs') %>
   


    <section>
 
            <div class="container mb-3">
              
               <h1>WELCOME to <%= trainers[0].fname %> <%= trainers[0].lname %> Training Videos </h1>
            </div>

            <ul>


             





    </section>
    </main>




<%- include('../includes/footer.ejs') %>