<%- include('../includes/clienthead') %>
<link rel="stylesheet" type="text/css" href="/css/trainer.css" />
    
</head>
<body>
  

    <main>
        
   


    <section>
        <div class="row">
            <%- include('../includes/clientnav.ejs', {username:user.fname}) %>

        
 
            <div  class="col-xl-8 main-dashboard">
              
               <h1>WELCOME to <%= trainer[0] %>Training Videos </h1>
      

            <% if(!trainvid.length){ %>
                <h3>No Videos created</h3>
            <% }else{ %>
              
                <hr>
                <% for (trainvids of trainvid) { %>
                   
                    <%= trainvids.title %>
                    <%let tlink=trainvids.tlink;%>
                    <%tlink=tlink.replace("https://www.youtube.com/watch?v=","")%>
                    
                    <br>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= tlink %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <br>
                    <br>
    
                <% } %>
            <% } %>


             



        </div>
        </div>
    </section>
    </main>




<%- include('../includes/footer.ejs') %>