<%- include('../includes/head.ejs') %>


<body>
  

    <main>
        <%- include('../includes/clientnav.ejs') %>
   


    <section>
 
            <div class="container mb-3">
               <h1>WELCOME to Trainer List </h1>
            </div>

            <ul>


             



                <%  const trainersMarked = trainersMark.map(x => x.trainerId.toString()); %>
              <!-- console.log('result is', trainersMarked )  -->


            <% for (let x=0; x<trainers.length; x++) { %>

                
                <% if(trainersMarked.includes(trainers[x]._id.toString())){ %>  
                    <div class="card">
                    <%= trainers[x].fname %> <%= trainers[x].lname %>
                        <div class="row">
                            <a href="/user/trainings/<%= trainers[x]._id %>">View Trainings</a>
                             <a href="/user/appointment/<%= trainers[x]._id %>">Set Appointment</a>
                             <a href="/user/send-note/<%= trainers[x]._id %>">Send a Note</a>
                        </div>
                    </div>
                    
                    <div class="divider"></div>

                 <% } %>
                
            <% } %>

            


    </section>
    </main>




<%- include('../includes/footer.ejs') %>