<%- include('../includes/clienthead') %>
<link rel="stylesheet" type="text/css" href="/css/trainer.css" />
    
</head>
<body>
    

    <main>
       
   


    <section>
        <div class="row">
            <%- include('../includes/clientnav.ejs', {username:user.fname}) %>

            <div  class="col-xl-8 main-dashboard">
 
           
               <h1>my trainers</h1>
         



              <!-- console.log('result is', trainersMarked )  -->


              <% for (trainers of trainer) { %>

                <div class="client-grid">

                    <div class="client-row-grid">  
                <%= trainers.trainer[0].fname %>  <%= trainers.trainer[0].lname %>
                    </div>

                    <div class="event">
                            <a href="/user/trainers/<%= trainers.trainer[0]._id %>">View Profile</a> |
                            <a href="/user/trainings/<%= trainers.trainer[0]._id %>">View Trainings</a> |
                             <a href="/user/appointment/<%= trainers.trainer[0]._id %>">Set Appointment</a> |
                             <a href="/user/send-note/<%= trainers.trainer[0]._id %>">Send a Note</a>

                        </div>
             </div> 
                  
            <% } %>

            
                

    </section>
    </main>




<%- include('../includes/footer.ejs') %>