<%- include('../includes/clienthead') %>
<link rel="stylesheet" type="text/css" href="/css/trainer.css" />
    
</head>
<body>
  
  

    <main>
    <section>
        <div class="row">
            <%- include('../includes/clientnav.ejs', {username:user.fname}) %>
       
        <div  class="col-xl-8 main-dashboard">
               <h1>Send Note</h1>
                
       

            <% if (errorMessage) { %>
                <div class="message-error"><%= errorMessage %></div>
            <% } %>

            <form action="/user/send-note" method="POST">
                
                <input type="text" name="subject" id="subject"
                class="form-control <%= validationErrors.find(e => e.param === 'subject') ? 'invalid' : '' %>" 
                required="required" placeholder="subject"
                value="<% if (hasError) { %><%= user.subject %><% }%>"
                >

                
                <textarea name="message" id="message" cols="30" rows="5" placeholder="Message Here"
                class="form-control <%= validationErrors.find(e => e.param === 'subject') ? 'invalid' : '' %>" 
                required="required" 
                > <% if (hasError) { %><%= user.message %><% } %></textarea>



                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button class="btn" type="submit">Send</button>
                <input type="hidden" name="trainerId" id="trainerId"
                value="<% if (hasError) { %><%= user.subject %><% }else {%><%= trainers[0]._id %><%}%>">
            </form>

             



        </div>
        </div>
    </section>
    </main>




<%- include('../includes/footer.ejs') %>