<%- include('../includes/head.ejs') %>


<body>
  

    <main>
        <%- include('../includes/clientnav.ejs') %>
   


    <section>
 
            <div class="container mb-3">
               <h1>Send Note to <%= trainers[0].fname %> <%= trainers[0].lname %> </h1>
            </div>


            <form action="/user/send-note" method="POST">
                
                <input type="text" name="subject">
                <textarea name="message" cols="30" rows="5" placeholder="Message Here"></textarea>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button class="btn" type="submit">Send</button>
                <input type="hidden" name="trainerId" value="<%= trainers[0]._id %>">
            </form>

             





    </section>
    </main>




<%- include('../includes/footer.ejs') %>