<%- include('../includes/head.ejs') %>


<body>
  

    <main>
        
   


    <section>
        <div class="row">
            <%- include('../includes/clientnav.ejs', {username:user.fname}) %>

            <div  class="col-xl-8 main-dashboard">
          
               <h1>trainer <%= trainers.fname %> </h1>
           
                    
                    <p>Last Name: <%= trainers.lname %></p><br>
                    <p>Address: <%= trainers.address %></p><br>
                    <p>Email: <%= trainers.email %></p><br>
           
            </div>
 

    </section>
    </main>




<%- include('../includes/footer.ejs') %>