<%- include('../includes/head.ejs') %>


<body>
  

    <main>
        <%- include('../includes/clientnav.ejs', {username:user.fname}) %>
   


    <section>
 
            <div class="container mb-3">
               <h1>WELCOME to Trainer List </h1>
            </div>

            <ul>


             
    
               
                <%  const trainersMarked = trainersMark.map(x => x.trainer[0]._id.toString()); %>
              <!-- console.log('result is', trainersMarked )  -->

            <% for (let x=0; x<trainers.length; x++) { %>
                    <% if(trainersMarked.includes(trainers[x]._id.toString())){ %>  
                        <li><%= trainers[x].fname %> <%= trainers[x].lname %> - <%- include('../includes/unenroll', {trainer: trainers[x]}) %></li>
                    <% } else { %>
                        <li><%= trainers[x].fname %> <%= trainers[x].lname %> <%- include('../includes/enroll', {trainer: trainers[x]}) %></li>
                    <% } %>                         
              
            <% } %>


            </ul>


    </section>
    </main>




<%- include('../includes/footer.ejs') %>