<%- include('../includes/head.ejs') %>


<body>
  

    <main>
        <section>
    
                
        </section>
        <%- include('../includes/trainernav.ejs', {trainername:trainer.fname}) %>


        <section>
            <div class="row">
                Appointment
                <%= appcount %>
              
            </div>      

            <div class="row">
                Earning
                <%= earnings %>
            </div>      

            <div class="row">
                Subscription
                <%= enrollcount %>
            </div>      
            
        </section>
       
            
    </main>




<%- include('../includes/footer.ejs') %>