<%- include('../includes/head.ejs') %>


  

    <main>
      <section>
 
      <div class="row">
        <%- include('../includes/clientnav.ejs', {trainername:user.fname}) %>

          <!-- END SIDE BAR -->
        <div class="col-xl-8 main-dashboard">
          
          <h1>welcome back <%= trainer.fname %> </h1>
          <div class="row">
            <div class="col-6 col-md-4">
              <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Appointments</h5>
                  <p class="card-text"><%= appcount %></p>
                  <a href="#" class="btn btn-secondary">manage</a>
                </div>
              </div>
            </div>
            <div class="col-6 col-md-4">
              <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Earnings</h5>
                  <p class="card-text"><%= earnings %></p>
                  <a href="#" class="btn btn-secondary">view</a>
                </div>
              </div>
            </div>
            <div class="col-6 col-md-4"><div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Subscriptions</h5>
                <p class="card-text"><%= enrollcount %></p>
                <a href="#" class="btn btn-secondary">manage</a>
              </div>
            </div>
            
          </div>
          <hr>
          </div>


        </div>
      </div>
       
    

        </section>
    </main>




<%- include('../includes/footer.ejs') %>