<%- include('../includes/trainerhead') %>
<link rel="stylesheet" type="text/css" href="/css/trainer.css" />
    
</head>
<body>
    
  

    <main>
        <section>
            <div class="row">
                <%- include('../includes/trainernav.ejs', {trainername:trainers.fname}) %>

                <div  class="col-xl-8 main-dashboard">
                    <h1>your next appointment is with:</h1>
                    
                    
                    
                    <div class="row">
                      
           


             <!-- const allappointmentMarked = allappointment.map(x => x.userid); %> -->
         
             <% if(!myappointments.length){%>
                    <h3>No Appointment</h3>
                <% }else{%>
                 
                  <div class="flex-container">

                    <% for (appointment of myappointments) { %>
                      
                      
                      <div class="card-flex">
                            <span class="card-date"><%= appointment.appointment.toDateString() %></span>
                            <span class="card-fname"><%= appointment.user[0].fname %></span>
                      </div>
                       
                    <% } %>
                  </div> 
            <% } %>


                </div>

            </div>
        </section>
        

    
   
               


    </main>




<%- include('../includes/footer.ejs') %>