<%- include('../includes/head.ejs') %>


<body>
  

    <main>
        <%- include('../includes/trainernav.ejs', {trainername:trainers.fname}) %>

    <section>
            <div class="container mb-3">
               <h1>My Client List</h1>
            </div>


        <% if(!users){ %>
            <h3>No Client Enrolled</h3>
        <% }else{ %>
            <% for (user of users) { %>

                
                    <div class="card">
                        <div class="row">
                             <ul>
                                <li><%= user.user[0].fname %></li>
                                <li><%= user.user[0].address %></li>
                                <li><%= user.user[0].email %></li>
                            </ul>
                             <a href="/trainer/appointment/<%= user.user[0]._id %>">Appointments</a>
                             <a href="/trainer/note/<%= user.user[0]._id %>">Note</a>
                        </div>
                    </div>
                    
                    <div class="divider"></div>

                 <% } %>
            <% } %>

        
         

    </section>
    </main>




<%- include('../includes/footer.ejs') %>