<%- include('../includes/trainerhead') %>
<link rel="stylesheet" type="text/css" href="/css/trainer.css" />
    
</head>
<body>
    

    <main>


    <section>
        <div class="row">
            <%- include('../includes/trainernav.ejs', {trainername:trainers.fname}) %>


            <div  class="col-xl-8 main-dashboard">
               <h1>My Notes</h1>
          


      
        <% if(!note.length){ %>
            <h3>No Notes Receive</h3>
        <% }else{ %>
            

            <div class="flex-container">

            <% for (mynote of note) { %>

               
                

                <div class="card-flex">
                    <span class="card-date"><i>From</i> <%= mynote.user[0].fname %></span>
                    <span class="card-Subject">
                        <i><%= mynote.subject %></i><br>
                        <%= mynote.message %>
                    </span>
              </div>

                
              
               

            <% } %>
        </div> 

        <% } %>
    </div>

    </div>
    </section>
    </main>




<%- include('../includes/footer.ejs') %>