<%- include('../includes/head.ejs') %>


<body>
  

    <main>
        <%- include('../includes/trainernav.ejs', {trainername:trainers.fname}) %>

    <section>
            <div class="container mb-3">
               <h1>My Notes</h1>
            </div>


      
        <% if(!note.length.length){ %>
            <h3>No Notes Receive</h3>
        <% }else{ %>
   
            <% for (mynote of note) { %>

                <%= mynote.subject %>
                <br>
                <%= mynote.message %>
                <br>
                
                Send by <%= mynote.user[0].fname %>
                <br>
                <br>

            <% } %>
        <% } %>



           
         

    </section>
    </main>




<%- include('../includes/footer.ejs') %>